*{

}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(55, 142, 200);
    color: whitesmoke;
    border: 1px solid gold;
    padding: inherit;
}



h1 {
    color: whitesmoke;
    text-align: left;
}

h2{
    text-align: center;
    color: whitesmoke;
}
p {
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    background-color: rgb(58, 58, 121);

}

.about-section{
    height: 275px;
}
.about-section-image {
    display: flex;
    flex-direction: row-reverse;
}

.about-section img{
    height: 275px;
    width: 250px;
    float: left;
}

.about-description{
    margin: 0px 5px 0px 5px;
    float: left;
    width: 80%;
}

.left{
    float: left;
}

.right{
    float: right;
}

nav{
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: space-between;
    min-width: 220px;
    list-style:none;
}

nav a {
    padding: inherit;
    color: white;
    font-weight: bold;
    text-decoration: none;
}


.main-page {
     border: 2px solid;
     padding: inherit;
     height: 70%;
}

.portfolio-section {
    text-align: center;
    width: 90%;
    height: 100%;
    margin: 0px auto;
}

.portfolio-items {
    margin: 0px auto;
    width: 50%;
}

.portfolio-item-image {
    position: relative;
    float: left;
    width:250px;
    margin: 20px 0 25px;
    overflow: auto;
    margin-left: 10px;
}

.portfolio-item-image img {
    border: 0 none;
    opacity: 0.8;
    width: 250px;
}

.portfolio-item-image h3 {
    position: absolute;
    bottom: 20px;
    width: 250px;
    padding: 3px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}

.portfolio-description {
    position: relative;
    float: right;
    width: 100%;
    margin: 20px 0 25px;
    overflow: auto;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  #form-section {
    padding: 100px;
  }
/* aside{
    display: block;
    background-color: lightblue;
} */

footer {
    margin-top: 20%;
    padding: 10px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
